<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.iostyle.wtfdagger">

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".part1.Part1Act" />
        <activity android:name=".part2.Part2Act" />
        <activity android:name=".part3.Part3Act" />
        <activity android:name=".part4.Part4Act" />
        <activity android:name=".part5.Part5Act" />
        <activity android:name=".part6.Part6Act" />
        <activity android:name=".part7.Part7Act" />
        <activity android:name=".part8.Part8Act" />
        <activity android:name=".part9.Part9Act" />
        <activity android:name=".part10.Part10Act" />
        <activity android:name=".mvp.ShopListActivity" />
    </application>

</manifest>